*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    display: flex;
}

.left{
    height: 100vh;
    background-color: gray;
    display: fit-content;
}

.left > ul{
    display: flex;
    flex-direction: column;
}

.right{
    background-color: gold;
    height: 100vh;
    width: auto;
    flex: 1;
    transition: .6s ease;
}