@import "../common-style.scss";

.main-container
{
    @include centerElementWithTransform;
    border: 1vmax solid hsla(0, 0%, 100%, .5);
    padding: 2vmax;
    background-color: $secondaryColor;
    background-clip: padding-box;

    & > form
    {
        display: flex;
        flex-direction: column;
        width: fit-content;
        width: 100%;

        & > span
        {
            display: flex;
            flex-direction: row;
            margin: .5vmax 0;

            & > i
            {
                background-color: $buttonAndInputIconBackgroundColor;
                padding: 2vmin;
                color: $whiteColor;
                font-size: 2vmax;
            }

            & > input
            {
                background-color: silver;
                color: $secondaryColor;
                padding: 1vmin 2vmin;
                flex: 1;
                font-size: 2vmax;

                &::placeholder
                {
                    color: $secondaryColor;
                    font-size: 2vmax;
                }
            }        
        }

        & > span:first-child
        {
            margin-top: 0!important;
        }

        & > .buttons-container
        {
            margin: .5vmax 0 .25vmax 0;
            display: flex;

            & > input
            {
                flex: 1;
                background-color: $buttonAndInputIconBackgroundColor;
                color: $whiteColor;
                font-weight: bold;
                padding: .5vmax 0;
                font-size: 2vmax;
            }

            & > input:first-child
            {
                margin-right: .5vmax;
            }

            & > input:nth-child(2)
            {
                margin-left: .5vmax;
            }
        }

        & > .bottom-container
        {
            margin-top: .25vmax;
            display: flex;
            font-size: 1.5vmax;
            color: $whiteColor;
            position: relative;

            & > span
            {
                @include centerElementWithFlexbox();

                & > input
                {
                    zoom: 2;
                }

                & > a
                {
                    margin-left: 1vmax;
                }
            }

            & > a
            {
                text-decoration: none;
                position: absolute;
                right: 0;

                &:visited
                {
                    color: $whiteColor;
                }
            }
        }
    }
}