* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Poppins', sans-serif;
}

body::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: -webkit-gradient(linear, left top, right top, from(#4568dc), to(#b06ab3));
  background: linear-gradient(90deg, #4568dc, #b06ab3);
}

.main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50vmax;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1vmax solid rgba(255, 255, 255, 0.5);
  padding: 2vmax;
  background-color: darkslategray;
  background-clip: padding-box;
}

.main-container > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: 100%;
}

.main-container > form > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: .5vmax 0;
}

.main-container > form > span > i {
  background-color: deepskyblue;
  padding: 2vmin;
  color: white;
  font-size: 2vmax;
}

.main-container > form > span > input {
  background-color: silver;
  color: darkslategray;
  padding: 1vmin 2vmin;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 2vmax;
}

.main-container > form > span > input::-webkit-input-placeholder {
  color: darkslategray;
  font-size: 2vmax;
}

.main-container > form > span > input:-ms-input-placeholder {
  color: darkslategray;
  font-size: 2vmax;
}

.main-container > form > span > input::-ms-input-placeholder {
  color: darkslategray;
  font-size: 2vmax;
}

.main-container > form > span > input::placeholder {
  color: darkslategray;
  font-size: 2vmax;
}

.main-container > form > span:first-child {
  margin-top: 0 !important;
}

.main-container > form > .buttons-container {
  margin: .5vmax 0 .25vmax 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container > form > .buttons-container > input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: deepskyblue;
  color: white;
  font-weight: bold;
  padding: .5vmax 0;
  font-size: 2vmax;
}

.main-container > form > .buttons-container > input:first-child {
  margin-right: .5vmax;
}

.main-container > form > .buttons-container > input:nth-child(2) {
  margin-left: .5vmax;
}

.main-container > form > .bottom-container {
  margin-top: .25vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5vmax;
  color: white;
  position: relative;
}

.main-container > form > .bottom-container > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container > form > .bottom-container > span > input {
  zoom: 2;
}

.main-container > form > .bottom-container > span > a {
  margin-left: 1vmax;
}

.main-container > form > .bottom-container > a {
  text-decoration: none;
  position: absolute;
  right: 0;
}

.main-container > form > .bottom-container > a:visited {
  color: white;
}
/*# sourceMappingURL=login-style.css.map */