@import "../common-style.scss";

.main-container
{
    @include centerElementWithTransform;
    border: 1vmax solid hsla(0, 0%, 100%, .5);
    padding: 2vmax;
    background-color: $secondaryColor;
    background-clip: padding-box;

    & > form
    {
        display: flex;
        flex-direction: column;
        width: fit-content;
        width: 100%;

        & > span
        {
            display: flex;
            flex-direction: row;
            margin: .5vmax 0;

            & > i
            {
                background-color: $buttonAndInputIconBackgroundColor;
                padding: 2vmin;
                color: $whiteColor;
                font-size: 2vmax;
            }

            & > input
            {
                background-color: silver;
                color: $secondaryColor;
                padding: 1vmin 2vmin;
                flex: 1;
                font-size: 2vmax;

                &::placeholder
                {
                    color: $secondaryColor;
                    font-size: 2vmax;
                }
            }        
        }

        & > span:first-child
        {
            margin-top: 0!important;
        }

        & > input
        {
            margin: .5vmax 0 .25vmax 0;
            background-color: $buttonAndInputIconBackgroundColor;
            color: $whiteColor;
            font-weight: bold;
            padding: .5vmax 0;
            font-size: 2vmax;
        }

        & > .bottom-container
        {
            margin-top: .25vmax;
            display: flex;
            font-size: 1.5vmax;
            color: $whiteColor;
            display: flex;
            justify-content: flex-end;

            & > a
            {
                text-decoration: none;

                &:visited
                {
                    color: $whiteColor;
                }
            }
        }
    }
}